body {
  background: #12121a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: #ddd;
  font-family: 'Avenir Next';
}
#home {
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
/*   grid-gap: 0.8rem; */
/*   margin: 5rem auto; */
  padding: 10px;
  width: min(90%, 75rem);
}

/* haha thank you dude i'm telling you! */
/* hOLLYYY shit!!!!! */
/*
yeeeAaa. actually genuinely. replit is fucking king
yoo replit is king. im at the gym on my iphone coding*/
/* WHATS UP BOIIIIIIIIII */
/* WASSSSSUSPPPPPP 👅👅👅👅👅 */
/* LOLLL  */
.card  {
  background: #191919;
  height: 20rem;
  width: 20rem !important;
  padding: 1rem;
 
/*   flex-direction: column; */
/*   gap: 0.4rem;*/
  
}

body > div > div:nth-child(1) {
  height: 70%;
}

body > div > div:nth-child(2) {
  height: 30%;

  display: flex;
  gap: 1rem;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#logo {
  height: 4rem;
  width: 4rem;
  border-radius: 99rem;
  object-fit: cover;
}

span {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  padding: 0;
  margin: 0;
  color: #a9a9a9;
}
