body {
  background: #12121a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: #ddd;
  font-family: 'Avenir Next';
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  width: min(90%, 75rem);
}

@media only screen and (max-width: 1000px) {
  #home {
    display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 10px;
  width: min(90%, 75rem);
  }
}

.card  {
  background: #191919;
  height: 16rem;
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.card> div:nth-child(1){
  height: 70%;
  margin-bottom: 1rem;
/*   border: 1px solid green; */
}

.card> div:nth-child(2) {
  height: 30%;
  display: flex;
  gap: 1rem;
/*   border: 1px solid red; */
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#logo {
  height: 4rem;
  width: 4rem;
  border-radius: 99rem;
  object-fit: cover;
}

p {
/*   font-size: .8rem; */
  font-weight: 600;
   width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

span {
  font-size: .8rem;
  padding: 0;
  margin: 0;
  color: #a9a9a9;
}
