{% macro card(video) -%}

      <div class='card'>
        <div>
          <img
            src="{{ video['thumbnails'][0]['url'] }}"
            alt="thumbnail"
          />
        </div>
      <div>
        <div>
          <img id='logo'
            src="https://avatars.githubusercontent.com/u/60327839?s=280&v=4"
            alt="channel"
          />
        </div>
        <div>
          <p>{{ video['title'] }}</p>
          <span>Clever Programmer</span></br>
          <span>{{ "{:,.0f}".format(video['stats']['views']) }} views • {{ video['publishedTimeText'] }}</span>
        </div>
      </div>
    </div>
     
{%- endmacro %}